pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.12.2
scikit-learn==1.5.1
xgboost==3.0.1
tqdm==4.65.0
shap==0.47.2
lime>=0.2.0.1
alibi>=0.9.4
plotly>=5.15.0
ydata-profiling>=4.9.0
ipython>=8.12.0